@charset "utf-8";

.edit-list {
  width: 500px;
  margin: 0 auto;
  .edit-list-form {
    color: #555555;
    .edit-list-title {
      width: 300px;
      margin-bottom: 25px;
    }
    .delete-list-button {
      color: #ff3333;
      border: solid 1px #ff3333;
      width: 80px;
      height: 40px;
      margin: 25px 5px;
      border-radius: 5px;
    }
    .edit-list-button {
      background-color: #242f9b;
      color: #ffffff;
      width: 80px;
      height: 40px;
      border-radius: 5px;
    }
  }
  .error-message {
    color: #ff3333;
  }

  @media screen and (max-width: 768px) {
    width: 50%;

    h2 {
      text-align: center;
    }
    .edit-list-form {
      .edit-list-title {
        width: 100%;
      }
      .list-buttons {
        width: 100%;
        .edit-list-button, .delete-list-button {
          margin: 0 5%;
          width: 40%;
        }
      }
    }

    @media screen and (max-width: 320px) {
      h2 {
        font-size: large;
      }
    }
  }
}





